Django==5.0.7
djangorestframework==3.14.0        # if building APIs
python-decouple==3.8                # env variables
psycopg2-binary==2.9.9              # PostgreSQL
gunicorn==21.2.0                    # production server
whitenoise==6.6.0                   # static files in production
numpy==2.4.0